@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  overflow-y: hidden !important;
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ql-toolbar {
  position: sticky;
  top: 70px;
  z-index: 20;
  background-color: white;
}

